In [1]:
import pandas as pd

In [2]:
y_n_df=pd.DataFrame({'Yes':[50,12],'No':[131,2]})
y_n_df

   Yes   No
0   50  131
1   12    2

In [3]:
pd.DataFrame({'Bob':['I liked it.','It was awful'],'Sue':['Pretty good.','Bland']})

            Bob           Sue
0   I liked it.  Pretty good.
1  It was awful         Bland

In [4]:
# we can set row names for DataFrame by using index
pd.DataFrame({'Bob':['I liked it.','It was awful'],'Sue':['Pretty good.','Bland']},index=['Product A','Product B'])

                    Bob           Sue
Product A   I liked it.  Pretty good.
Product B  It was awful         Bland

In [5]:
# a Series is a sequence of data Values . Series is just a Pretty List
pd.Series([1,2,3,4,5,6])

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

# Exses and practical task

In [6]:
# fruits = pd.DataFrame({'Apples':30,'Bananas':21})
#or like this
fruits = pd.DataFrame([[30, 21]], columns=['Apples', 'Bananas'])
fruits

In [8]:
fruit_sales = pd.DataFrame([[35, 21], [41, 34]], columns=['Apples', 'Bananas'],
                index=['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34